<script setup lang="ts">
import FullLayuot from "./layouts/FullLayuot.vue";
import MainLayout from "./layouts/MainLayout.vue";
</script>

<template><component :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayuot"></component></template>

<style scoped></style>
